<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{>header}}
<h3>{{screamIt welcomeMessage}}</h3>
<p>Some text here</p>

{{>footer}}

</body>
</html>